django==3.2.7
django-storages==1.7.1
django-oauth-toolkit==1.5.0
raven==6.10.0
enum34==1.1.6
#requests-kerberos==0.12.0
mock==3.0.5

djangorestframework==3.11.0
djangorestframework-xml==2.0.0

coverage==4.5.3
pytest==4.6.3
pytest-django==3.5.0
pytest-cov==2.7.1
freezegun==0.3.12

psycopg2